* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 15px;
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.container img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.container h2{
    width: 75%;
    font-weight: bold;
    background-color: red;
    font-size:13px;
    color: white;
    position: absolute;
    border-radius: 10px;
    top: 65%;
    left: 50%;
    transform: translate(-50%,50%);
    padding: 5px;
   text-align: center;
}

#descripcion {
    width: 75%;
    position: absolute;
    top: 75%;
    left: 15%;
}

.container div{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 85%;
    left: 15%;
}

.antes {
    color: red;
}

#tachar{
    text-decoration: line-through;
    
}

.ahora{
    font-weight: bold;
}

.container button{
    width: 20%;
    background-color: red;
    border-radius: 5px;
    border:none;
    padding: 2px;
    color: white;
}

#img2{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 75%;
    left: 15%;
}

.container .hover{
    
    top: 0;
    background-color: rgb(241, 36, 36);
    position: absolute;
    width: 0%;
    overflow: hidden;
    opacity: 0.5; border-radius: 10px;
    left: 0%;
}

.hover p{
    color:white;display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:50%;
    left: 25%;
}

.container:hover .hover{
    width: 100%;
    height: 70%;
}